.datePeopleBg {
  background: darkslategray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/datepeople.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
  padding: 4rem;
}

/* .options-bg {
  background: darkslategray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/camping.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 75%;
  height: 100vh;
  padding: 4rem;
}

.signup-bg {
  background: darkslategray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/signup.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 53%;
  background-position-y: 40%;
  height: 100vh;
  padding: 4rem;
}

.emergency-bg {
  background: darkslategray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/emergency.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 45%;
  height: 100vh;
  padding: 4rem;
} */

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.label {
  width: 20%;
}

.input {
  width: 80%;
}

.sideText {
  margin: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  padding-bottom: 3rem;
}

.sideTextSub {
  margin-left: 3rem;
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  padding-bottom: 3rem;
}

.btnNext {
  color: #28a745;
  background-color: transparent;
  border: 1px solid #28a745;
  border-radius: 0.25rem;
  padding: 0.375rem 0.375rem;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.btnNext:hover {
  color: #fffafa;
  background-color: #28a745;
  border-color: transparent;
  transition: all .15s ease-in-out;
}
